<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.sap.adt.views"
            class="com.sap.adt.featureexplorer.ui.internal.presenter.FeatureExplorerPresenter"
            icon="icons/view/feature_explorer_view.png"
            id="com.sap.adt.featureexplorer.ui.view"
            name="%view.name.featureexplorer_xgrp">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            id="com.sap.adt.featureexplorer.bgColor"
            isEditable="false"
            label="Background Color"
            value="255,255,255">
      </colorDefinition>
      <colorDefinition
            id="com.sap.adt.featureexplorer.titleBgColor"
            isEditable="false"
            label="Background color for table headers"
            value="232,232,232">
      </colorDefinition>
      <colorDefinition
            id="com.sap.adt.featureexplorer.textColor"
            isEditable="false"
            label="Text color"
            value="0,0,0">
      </colorDefinition>
      <colorDefinition
            id="com.sap.adt.featureexplorer.linkColor"
            isEditable="false"
            label="Link Color"
            value="0,0,255">
      </colorDefinition>
  </extension>
  <extension point="org.eclipse.e4.ui.css.swt.theme">
     <stylesheet uri="css/e4-dark_featureexplorer_preferencestyle.css">
        <themeid refid="org.eclipse.e4.ui.css.theme.e4_dark">
        </themeid>
     </stylesheet>
  </extension>
</plugin>
